<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.training.sanity.tests.RTTC_041"/>
      <!-- <class name="com.training.sanity.tests.RTTC_040"/>
      <class name="com.training.regression.tests.LoginDBTest"/>
      <class name="com.training.regression.tests.LoginMultipleValuesTest"/>
      <class name="com.training.regression.tests.LoginExcelTest"/>
      <class name="com.training.regression.tests.LoginXLSTest"/>
      <class name="com.training.sanity.tests.retailTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
